
.login-forms{
  display: flex;
  justify-content: space-around;
}

section{
  /* display: flex; */
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.form-container{
  display: flex;
  float:right;
  position: absolute;
  top:300px;
  right:300px;
}
.form-btn {
  padding: 10px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

 /* .herobg{
  position: absolute;
  width: 80vw;
  height: 120vh;
  left: -35vw;top: -29px;
  bottom: -99px;
  background: #CCC9EF;
  border-radius: 1500px;
}  */

.singup-container{
  width: 600px;
  margin: 100px;

}
.login-container{
  width: 400px;
  position: absolute;
  top:100px;
  right:0px;
  margin: 40px;
  /* margin: 100px;
margin-left: 200px; */
}
@media screen and (max-width: 1024px){
  .reg-logo{
    display: none;
  }
  .login-container{
    display: block;
  }
}

.reg-logo
{
 position: absolute;
 left:200px;
 top: 100px;
}
.reg-logo>img{
  width: 500px;
  height: 501px;
  object-fit: contain;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{

  padding: 16.5px 64px !important;
}